In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.columns = ['first_name', 'last_name', 'email']

In [7]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [8]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [9]:
df.columns = [x.upper() for x in df.columns]

In [10]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [11]:
df.columns =  df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [12]:
df.columns =  df.columns.str.replace('', ' _ ')
df

,_ F _ I _ R _ S _ T _ _ N _ A _ M _ E _,_ L _ A _ S _ T _ _ N _ A _ M _ E _,_ E _ M _ A _ I _ L _
0,Corey,Schafer,CoreyMSchafer@gmail.com
1,Jane,Doe,JaneDoe@email.com
2,John,Doe,JohnDoe@email.com

In [13]:
df.columns =  df.columns.str.replace('_', '')
df

,F I R S T N A M E,L A S T N A M E,E M A I L
0,Corey,Schafer,CoreyMSchafer@gmail.com
1,Jane,Doe,JaneDoe@email.com
2,John,Doe,JohnDoe@email.com

In [14]:
df.columns =  df.columns.str.replace(' ', '')
df

  FIRSTNAME LASTNAME                    EMAIL
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [18]:
df.rename(columns= {'FIRSTNAME': 'first', 'LASTNAME': 'last'}, inplace=True)

In [19]:
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [20]:
df.loc[2]

first                 John
last                   Doe
EMAIL    JohnDoe@email.com
Name: 2, dtype: object

In [21]:
df.loc[2] = ['Ishan', 'Dhaliwal','ishan.dhaliwal@gmail.com'] # Update Row value with new data

In [22]:
df

   first      last                     EMAIL
0  Corey   Schafer   CoreyMSchafer@gmail.com
1   Jane       Doe         JaneDoe@email.com
2  Ishan  Dhaliwal  ishan.dhaliwal@gmail.com

In [25]:
df.loc[2, ['last', 'EMAIL']] = ['Dhaliwal1','ishan1.dhaliwal1@gmail.com']

In [26]:
df

   first       last                       EMAIL                       email
0  Corey    Schafer     CoreyMSchafer@gmail.com                         NaN
1   Jane        Doe           JaneDoe@email.com                         NaN
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com  ishan1.dhaliwal1@gmail.com

In [29]:
df['EMAIL'] = df['EMAIL'].str.lower()

In [30]:
df

   first       last                       EMAIL                       email
0  Corey    Schafer     coreymschafer@gmail.com                         NaN
1   Jane        Doe           janedoe@email.com                         NaN
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com  ishan1.dhaliwal1@gmail.com

In [32]:
df['EMAIL'].apply(len)  # apply used to apply entire function to a series or dataframe

0    23
1    17
2    26
Name: EMAIL, dtype: int64

In [33]:
def update_email(email):
    return email.upper()

In [34]:
df['EMAIL'].apply(update_email)

0       COREYMSCHAFER@GMAIL.COM
1             JANEDOE@EMAIL.COM
2    ISHAN1.DHALIWAL1@GMAIL.COM
Name: EMAIL, dtype: object

In [35]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'float' and 'str'

In [36]:
df

   first       last                       EMAIL                       email
0  Corey    Schafer     coreymschafer@gmail.com                         NaN
1   Jane        Doe           janedoe@email.com                         NaN
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com  ishan1.dhaliwal1@gmail.com

In [37]:
len(df['EMAIL'])

3

In [38]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'float' and 'str'

In [39]:
df.apply(len, axis='columns')

0    4
1    4
2    4
dtype: int64

In [40]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'float' and 'str'

In [41]:
len(df['EMAIL'])

3

In [42]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'float' and 'str'

In [43]:
df.delete['email']

AttributeError: 'DataFrame' object has no attribute 'delete'

In [44]:
del df['email']

In [45]:
df

   first       last                       EMAIL
0  Corey    Schafer     coreymschafer@gmail.com
1   Jane        Doe           janedoe@email.com
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com

In [46]:
df.apply(pd.Series.min)

first                      Corey
last                   Dhaliwal1
EMAIL    coreymschafer@gmail.com
dtype: object

In [47]:
df.applymap(len)  # Apply function to each value in dataframe

   first  last  EMAIL
0      5     7     23
1      4     3     17
2      5     9     26

In [48]:
df

   first       last                       EMAIL
0  Corey    Schafer     coreymschafer@gmail.com
1   Jane        Doe           janedoe@email.com
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com

In [50]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [51]:
df

   first       last                       EMAIL
0  Chris    Schafer     coreymschafer@gmail.com
1   Mary        Doe           janedoe@email.com
2  Ishan  Dhaliwal1  ishan1.dhaliwal1@gmail.com